body {
    margin-left: 20px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

#page {
  background-color:white;
  width : 65%;
  margin : auto ;
  border : 0.2em solid black;
  padding : 0.1em;
}

#entete {
    color : #980101;
    height: 154px;
    padding: 0em;
    border-collapse: separate;
}

#pied {
    clear : both;
    border : solid 0.2em #980101;
    margin-left : 18%;
    margin-top : 1em;
    padding:0.4em;
    padding: 0.2em;
    border-collapse: separate;
}

#nav {
    color: rgb(96,96,96);
    float: left;
    min-width: 250px;
}

#menuGauche {
    padding: 1em;
    margin-top : 0.8em;
    margin-bottom: 1em;
    background-color: #f1f2f4;
}

#contenu {
    border: none;
    background-color: white;
    margin-left: 255px;
    margin-top: 10px;
    /* permet de fixer une hauteur mini sur les navigateurs modernes */
    min-height: 27em;
    /* pour obtenir le même effet sur IE, sachant que si le contenu dépasse,
    il "poussera" la hauteur en ne respectant pas la norme.
    On se joue de ses lacunes ;-)
    */
    height: 27em;
}

#breadcrumb {
    margin: 10px 0 10px 0;
}

/* pour rétablir le mauvais effet sur les nav. modernes */
html>body #contenu {
    height: auto;
}

/* style à appliquer à la balise ul d'identifiant menulist */
ul#menuList {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 98%;
    font-size: 1em;
}

/* style à appliquer aux éléments de la balise ul d'identifiant menulist */
ul#menuList li {
    position: relative;
    margin: 0px;
    padding: 0px;
}

/* apparences des liens dans listes et sous-listes non numérotées */
ul#menuList a {
    padding: 0.5em;
    color: #4582B4;
    display: block;
    text-decoration: none;
}

ul#menuList a:hover {
    background: #e0e0e0;
    color: #4582B4;
}

#entete h1 {
    margin: 1em;
    margin-left: 6em;
    font-size: x-large;
    text-align: center;
}

#contenu pre {
    width: 95%;
    overflow: scroll;
}

#contenu h2 {
    font-size: large;
    text-align: left;
    margin: 0;
    margin-bottom: 0.5em;
}

.piedForm {
    text-align: left ;
    margin-top: 0em;
}

a {
    color: #4582B4;
}

a:hover {
    color: #cd5c5c;
}

h1, h2, h3 {
    color: #4582B4;
    font-weight: bold;
}

h1 {
    font-size: 1.2em;
    background: #e0e0e0;
    padding: 10px;
}

h2 {
    font-size: 1em;
    background-color: #f1f2f4;
    padding: 0.5em;
}

h3 {
    font-size: 1em;
}

table {
    font-size: 1em;
}

fieldset {
    margin-bottom: 10px;
    border: #ccc 1px solid;
}

fieldset legend {
    padding: 0 10px 0 10px;
    color: #666;
}

fieldset:hover {
    border-color: #666;
}

label {
    color: Gray;
    width: 120px;
}

label.form , label.formError {
    display: block;
    max-width: 160px;
    float: left;
    margin-left: 10px;
}

label.formError {
    color: red;
}

label.radio {
    display: inline;
}

label:hover {
    color: #330066;
}

input[type=submit], input[type=reset] {
    margin-top: 15px;
    width: 120px;
    cursor: pointer;
}

input[type=text].readOnly {
    color: gray;
}
